<div class="crear" *ngIf="isAuthenticated" mat-raised-button matTooltip="Info about the action">

  <a [routerLink]="['/crear-hard']" class="tooltips"><i class="bi bi-plus-circle" width="50" height="50"></i>
    <span class="tooltiptext">Agregar</span>
  </a>
</div>
<div class="hard">
  <div class="skill" *ngFor="let hard of hard">

    <div class="edit" *ngIf="isAuthenticated">
      <a [routerLink]="['/edit-hard', hard.id]" class="tooltips"><i class="bi bi-pencil"></i>
        <span class="tooltiptext">Editar</span></a>
      <a (click)="deletHard(hard.id)" class="tooltips"><i class="bi bi-x-circle"></i>
        <span class="tooltiptext">Eliminar</span></a>
    </div>

    <circle-progress 
      [percent]="hard.porcentaje" 
      [radius]="100" 
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00838F'" 
      [innerStrokeColor]="'#C4DFAA'" 
      [showSubtitle]="true" [animation]="true"
      [animationDuration]="3000" 
      [responsive]="true" 
      subtitle="{{hard.nombreHabi}}" 
      titleFontSize="20"
      unitsFontSize="20" 
      subtitleFontSize="22" 
      titleFontWeight="900" 
      unitsFontWeight="900" 
      subtitleFontWeight="900"
      titleColor=#C4DFAA 
      unitsColor=#C4DFAA 
      subtitleColor=#fff>
    </circle-progress>
  </div>
</div>