<div class="menu">
  <ul >
    <li class="carpeta" onchange="cambiaColor()"><a  [routerLink]="['/experience']" ariaCurrentWhenActive="page">Experiencia</a></li>
    <li class="carpeta2"><a [routerLink]="['/education']" ariaCurrentWhenActive="page">Educación</a></li>
    <li class="carpeta3"><a [routerLink]="['/project']" ariaCurrentWhenActive="page">Proyectos</a></li>
    <li class="carpeta4"><a [routerLink]="['/hard']" ariaCurrentWhenActive="page">Hard & soft <br> skills</a></li>
  </ul>
</div>







