<div class="crear" *ngIf="isAuthenticated">
    <a [routerLink]="['/crear-experience']" class="tooltips"><i class="bi bi-plus-circle" width="50" height="50"></i>
        <span class="tooltiptext">Agregar</span>
    </a>
</div>
<div *ngIf="!experiences.length">
    <p class="contenido borde" >No poseo experiencia en el área IT, pero mi deseo es poder adaptar mis conocimientos en el desarrollo de Full Stack y aprovechar la oportunidad de trabajar en un gran equipo, para crecer como profesional y dar lo mejor de mis cualidades.</p>
</div>
<div class="experience">
    <div *ngFor="let exper of experiences">
        <div class="edit2" *ngIf="isAuthenticated">
            <a [routerLink]="['/edit-experience', exper.id]" class="tooltips"><i class="bi bi-pencil"></i>
                <span class="tooltiptext">Editar</span>
            </a>
            <a (click)="deletExperience(exper.id)" class="tooltips"><i class="bi bi-x-circle"></i>
                <span class="tooltiptext">Eliminar</span>
            </a>
        </div>

        <div class="marco">

            <p>Empresa: {{ exper.nombreEmpresa }}</p>
            <p>Desde: {{ exper.fechaInicio }}</p>
            <p >Hasta: {{ exper.fechaFin }}</p> <br>
            <p>Decripcion: {{exper.descLaboral}}</p>
        </div>
    </div>
</div>